<div class="row">
  <div class="col-xs-6 col-xs-offset-3">
    <div class="manager">
      <div class="form">
        <h1>edit "<%= @task.title.downcase %>":</h1>
        <%= simple_form_for(@task) do |f| %>
          <%= f.input :title, label: "title" %>
          <%= f.input :details, label: "details" %>
          <%= f.input :completed, as: :boolean, label: "mark task as completed?" %>
          <%= f.submit "done", class: "btn btn-big" %>
        <% end %>
      </div>
      <div class="form-nav">
        <%= link_to tasks_path, class: "btn btn-small" do %>
          <i class="fa fa-undo" aria-hidden="true"></i>
        <% end %>
      </div>
    </div>
  </div>
</div>


