<div class="row">
  <div class="col-xs-6 col-xs-offset-3">
    <h1>add new task:</h1>
    <%= simple_form_for(@task) do |f| %>
      <%= f.input :title %>
      <%= f.input :details %>
      <%= f.submit "add", class: "btn btn-primary" %>
    <% end %>
    <%= link_to tasks_path, class: "btn btn-primary" do %>
      <i class="fa fa-undo" aria-hidden="true"></i>
    <% end %>
  </div>
</div>
